.workoutContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    text-align: center;
    color: #1677ff;
    font-size: 2rem;
    margin-bottom: 24px;
    font-weight: bold;
}

.workoutInfo {
    margin-bottom: 24px;
}

.description {
    color: rgba(0, 0, 0, 0.65);
    font-size: .85rem;
}

.exercisesList {
    margin-bottom: 24px;
}

.exercisesTitle {
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.2rem;
}

.exerciseCard {
    margin-bottom: 12px;
}

.exerciseInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.exerciseName {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
}

.exerciseTarget {
    margin: 0;
    margin-left: 16px;
    color: #1677ff;
    font-weight: 500;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.trophyIcon {
    color: #ffda0a;
    height: 100%;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }
    
    .workoutName {
        font-size: 1.2rem;
    }
    
    .exercisesTitle {
        font-size: 1rem;
    }
} 