.workoutContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    text-align: center;
    color: #1677ff;
    font-size: 2rem;
    margin-bottom: 24px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }
} 